body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-moz-focus-inner {
  border: 0;
}

input:focus {
  border: 0;
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: 0;
}

select::-moz-focus-inner {
  border: 0;
  outline: 0;
  outline-style: hidden;
}

select::-moz-focus-outer {
  border: 0;
  outline: 0;
  outline-style: hidden;
}

select:-moz-focusring {
  color: transparent;
  outline-style: hidden;
}

select:focus {
  outline: none;
  border: 0;
  outline-style: hidden;
}
